/packages/**/node_modules
/packages/**/package-lock.json

*.log
/coverage
/.changelog
/node_modules
node_modules
/packages/**/node_modules
/packages/**/lib
/packages/**/dist
/example/node_modules
/example/lib

/docs/node_modules
/lerna-debug.log
.history